<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <main>
  <p>请输入:</p>
  <input type="text" id="input">
  <p id="p"></p>
</main>

</body>
<script type="text/javascript">

let obj = {
   _text  : 111
};



Object.defineProperty(obj, 'text', {
  set: function(newValue){
     this._text = newValue;
     console.log(obj)
  },
  get: function() {
     return this._text;
  }
});


obj.text =123;

// console.log(obj.text)

// console.log(obj._text);



</script>
</html>